In [1]:
import pandas as pd
import numpy as np
import os
os.makedirs('Z:/Datos/DataIcfes/Resultados Saber11',exist_ok=True)

#### No correr esta línea

In [2]:
s11_2017=pd.read_csv('Z:\Datos\DataIcfes\Resultados Saber11\AGREGADOS_SB11_2017.txt',sep='/',encoding='UTF-8',engine='python')
s11_2018=pd.read_csv('Z:\Datos\DataIcfes\Resultados Saber11\AGREGADOS_SB11_2018.txt',sep='/',encoding='UTF-8',engine='python')
s11_cum=pd.concat([s11_2017,s11_2018],ignore_index=True,sort=False)
del s11_2017
del s11_2018
s11_2019=pd.read_csv('Z:\Datos\DataIcfes\Resultados Saber11\AGREGADOS_SB11_2019.txt',sep='/',encoding='UTF-8',engine='python')
s11_cum=pd.concat([s11_cum,s11_2019],ignore_index=True,sort=False)
del s11_2019
s11_2020=pd.read_csv('Z:\Datos\DataIcfes\Resultados Saber11\AGREGADOS_SB11_2020.txt',sep='/',encoding='UTF-8',engine='python')
s11_cum=pd.concat([s11_cum,s11_2020],ignore_index=True,sort=False)
del s11_2020
s11_2021=pd.read_csv('Z:\Datos\DataIcfes\Resultados Saber11\AGREGADOS_SB11_2021.txt',sep='/',encoding='UTF-8',engine='python')
s11_cum=pd.concat([s11_cum,s11_2021],ignore_index=True,sort=False)
del s11_2021

s11_cum.to_csv('Z:/Datos/DataIcfes/Resultados Saber11/S11_ACUMULADO_AGG.csv',index=False,encoding='UTF-8')

#### Correr desde acá (en caso de necesitar la base completa que incluye ambos calendarios)

In [26]:
s11_cum=pd.read_csv('Z:/Datos/DataIcfes/Resultados Saber11/S11_ACUMULADO_AGG.csv',sep=',',encoding='UTF-8',engine='python')

# Calendario A

#### No correr esta línea

In [49]:
s11_cumca=s11_cum.drop(s11_cum[s11_cum.periodo%2!=0].index) #revisar filtrar por variable de periodo para calendario
s11_cumca=s11_cumca.drop(s11_cumca[s11_cumca.medida_agregacion!='PUNTAJE_GLOBAL'].index)
s11_cumca=s11_cumca.drop(s11_cumca[s11_cumca.grado!=11].index)
s11_cumca.replace({20214:2021,20204:2020,20194:2019,20182:2018,20172:2017},inplace=True)
s11_cumca.to_csv('Z:/Datos/DataIcfes/Resultados Saber11/S11_ACUMULADO_A_AGG.csv',index=False,encoding='UTF-8')

### Importar Base de Datos

In [50]:
s11_cumca=pd.read_csv('Z:/Datos/DataIcfes/Resultados Saber11/S11_ACUMULADO_A_AGG.csv',sep=',',encoding='UTF-8',engine='python')

#### DEPARTAMENTO: 
Escribir el nombre del departamento analizado en el reporte.
En mayúsculas y sin tildes.

#### MUNICIPIO:
Escribir el nombre del municipio principal (ciudad capital) del departamento analizado en el reporte.
En mayúsculas (puede incluir tilde en caso de tener).

#### AÑO:
Escribir el año desde el que se desea hacer el reporte.

In [51]:
DEPARTAMENTO='SAN ANDRES'
MUNICIPIO='SAN ANDRÉS'
AÑO=2017

## Tabla Departamentos

In [52]:
s11_cumcap=s11_cumca.drop(s11_cumca[s11_cumca.periodo<AÑO].index)
s11_cumcar=s11_cumcap.drop(s11_cumcap[s11_cumcap.agregacion!='DEPARTAMENTO'].index)
agregados_dptoA=pd.crosstab(index=s11_cumcar.nombre_departamento,columns=s11_cumcar.periodo,dropna=True,values=s11_cumcar.promedio_global,aggfunc='mean',margins=True,margins_name='PROMEDIO')
agregados_dptoA=agregados_dptoA.sort_values(by=['PROMEDIO'],ascending=False)
pd.DataFrame(agregados_dptoA)

periodo,2017,2018,2019,2020,2021,PROMEDIO
nombre_departamento,,,,,,
BOGOTÁ,279.000000,276.000000,272.000000,270.00000,270.0,273.400000
SANTANDER,279.000000,275.000000,273.000000,270.00000,266.0,272.600000
BOYACA,271.000000,269.000000,264.000000,263.00000,264.0,266.200000
CUNDINAMARCA,269.000000,266.000000,263.000000,263.00000,262.0,264.600000
NORTE SANTANDER,267.000000,266.000000,262.000000,260.00000,257.0,262.400000
QUINDIO,265.000000,263.000000,261.000000,259.00000,260.0,261.600000
HUILA,268.000000,265.000000,263.000000,258.00000,253.0,261.400000
RISARALDA,267.000000,263.000000,259.000000,258.00000,255.0,260.400000
CASANARE,266.000000,262.000000,259.000000,257.00000,253.0,259.400000
META,265.000000,261.000000,256.000000,257.00000,254.0,258.600000
CALDAS,262.000000,258.000000,254.000000,255.00000,251.0,256.000000
ANTIOQUIA,263.000000,258.000000,253.000000,252.00000,251.0,255.400000
ARAUCA,263.000000,260.000000,254.000000,249.00000,245.0,254.200000
NARIÑO,262.000000,256.000000,250.000000,251.00000,248.0,253.400000
VALLE,256.000000,252.000000,249.000000,249.00000,246.0,250.400000
ATLANTICO,254.000000,253.000000,248.000000,247.00000,244.0,249.200000
TOLIMA,256.000000,251.000000,247.000000,247.00000,244.0,249.000000
CAQUETA,255.000000,249.000000,245.000000,244.00000,242.0,247.000000
PROMEDIO,254.212121,249.242424,244.575758,244.30303,241.0,246.666667
PUTUMAYO,255.000000,249.000000,245.000000,243.00000,239.0,246.200000
CESAR,251.000000,246.000000,244.000000,244.00000,239.0,244.800000
SAN ANDRES,255.000000,244.000000,234.000000,238.00000,235.0,241.200000
SUCRE,250.000000,245.000000,239.000000,237.00000,233.0,240.800000
CORDOBA,248.000000,244.000000,239.000000,237.00000,234.0,240.400000
GUAVIARE,242.000000,240.000000,234.000000,237.00000,241.0,238.800000
BOLIVAR,243.000000,238.000000,233.000000,232.00000,228.0,234.800000
CAUCA,239.000000,237.000000,231.000000,232.00000,228.0,233.400000
GUAINIA,254.000000,237.000000,224.000000,225.00000,211.0,230.200000
LA GUAJIRA,239.000000,232.000000,227.000000,229.00000,223.0,230.000000
VICHADA,240.000000,233.000000,229.000000,225.00000,220.0,229.400000
MAGDALENA,235.000000,229.000000,226.000000,229.00000,227.0,229.200000
AMAZONAS,230.000000,221.000000,217.000000,224.00000,218.0,222.000000
VAUPES,225.000000,217.000000,216.000000,212.00000,210.0,216.000000
CHOCO,216.000000,210.000000,201.000000,209.00000,202.0,207.600000

## Tabla Muncipios

In [53]:
s11_cumcam=s11_cumcap.drop(s11_cumcap[s11_cumcap.agregacion!='MUNICIPIO'].index)
s11_cumcam=s11_cumcam.drop(s11_cumcam[s11_cumcam.nombre_departamento!=DEPARTAMENTO].index)
agregados_muniA=pd.crosstab(index=[s11_cumcam.nombre_departamento,s11_cumcam.nombre_municipio],columns=s11_cumcam.periodo,dropna=True,values=s11_cumcam.promedio_global,aggfunc='mean',margins=True,margins_name='PROMEDIO')
agregados_muniA=agregados_muniA.sort_values(by=['PROMEDIO'],ascending=False)
pd.DataFrame(agregados_muniA)

,periodo,2017,2018,2019,2020,2021,PROMEDIO
nombre_departamento,nombre_municipio,,,,,,
SAN ANDRES,SAN ANDRÉS,256.0,246.0,237.0,239.0,237.0,243.0
PROMEDIO,,248.0,232.0,221.5,235.5,229.0,233.2
SAN ANDRES,PROVIDENCIA,240.0,218.0,206.0,232.0,221.0,223.4

## Tabla Establecimientos Educativos

In [54]:
s11_cumcac=s11_cumcap.drop(s11_cumcap[s11_cumcap.agregacion!='INSTITUCIÓN'].index)
s11_cumcac=s11_cumcac.drop(s11_cumcac[s11_cumcac.nombre_municipio!=MUNICIPIO].index)
s11_cumcac=s11_cumcac.drop(s11_cumcac[s11_cumcac.nombre_departamento!=DEPARTAMENTO].index)
agregados_coleA=pd.crosstab(index=[s11_cumcac.nombre_municipio,s11_cumcac.nombre_establecimiento],columns=s11_cumcac.periodo,dropna=True,values=s11_cumcac.promedio_global,aggfunc='mean',margins=True,margins_name='PROMEDIO')
pd.DataFrame(agregados_coleA)

periodo                                                      2017        2018  \
nombre_municipio nombre_establecimiento
SAN ANDRÉS       C.E. LICEO DEL CARIBE                     308.00  317.000000
                 COLEGIO CAJASAI                           258.00  255.000000
                 COLEGIO LUIS AMIGO                        328.00  316.000000
                 COLEGIO MODELO ADVENTISTA                 258.00  238.000000
                 FIRST BAPTIST SCHOOL                      252.00  242.000000
                 FLOWERS HILL BILINGUAL SCHOOL             235.00  234.000000
                 I.E. BROOKS HILL BILINGUAL SCHOOL         238.00  214.000000
                 I.E. DE LA SAGRADA FAMILIA                290.00  283.000000
                 INSTITUCION EDUCATIVA ANTONIA SANTOS      228.00  218.000000
                 INSTITUCION EDUCATIVA ANTONIA SANTOS         NaN         NaN
                 INSTITUCION EDUCATIVA GIMNASIO REAL          NaN         NaN
                 INSTITUCION EDUCATIVA LICEO DEL CARIBE       NaN         NaN
                 INSTITUCION EDUCATIVA TECNICO INDUSTRIAL  211.00  217.000000
                 INSTITUTO BOLIVARIANO                     228.00  208.000000
                 TECNICO DEPARTAMENTAL NATANIA             259.00  256.000000
PROMEDIO                                                   257.75  249.833333

periodo                                                          2019  \
nombre_municipio nombre_establecimiento
SAN ANDRÉS       C.E. LICEO DEL CARIBE                     303.000000
                 COLEGIO CAJASAI                           242.000000
                 COLEGIO LUIS AMIGO                        298.000000
                 COLEGIO MODELO ADVENTISTA                 226.000000
                 FIRST BAPTIST SCHOOL                      257.000000
                 FLOWERS HILL BILINGUAL SCHOOL             227.000000
                 I.E. BROOKS HILL BILINGUAL SCHOOL         208.000000
                 I.E. DE LA SAGRADA FAMILIA                272.000000
                 INSTITUCION EDUCATIVA ANTONIA SANTOS      195.000000
                 INSTITUCION EDUCATIVA ANTONIA SANTOS             NaN
                 INSTITUCION EDUCATIVA GIMNASIO REAL              NaN
                 INSTITUCION EDUCATIVA LICEO DEL CARIBE           NaN
                 INSTITUCION EDUCATIVA TECNICO INDUSTRIAL  212.000000
                 INSTITUTO BOLIVARIANO                     200.000000
                 TECNICO DEPARTAMENTAL NATANIA             241.000000
PROMEDIO                                                   240.083333

periodo                                                          2020  \
nombre_municipio nombre_establecimiento
SAN ANDRÉS       C.E. LICEO DEL CARIBE                     294.000000
                 COLEGIO CAJASAI                           243.000000
                 COLEGIO LUIS AMIGO                        307.000000
                 COLEGIO MODELO ADVENTISTA                 230.000000
                 FIRST BAPTIST SCHOOL                      252.000000
                 FLOWERS HILL BILINGUAL SCHOOL             227.000000
                 I.E. BROOKS HILL BILINGUAL SCHOOL         207.000000
                 I.E. DE LA SAGRADA FAMILIA                266.000000
                 INSTITUCION EDUCATIVA ANTONIA SANTOS      189.000000
                 INSTITUCION EDUCATIVA ANTONIA SANTOS             NaN
                 INSTITUCION EDUCATIVA GIMNASIO REAL              NaN
                 INSTITUCION EDUCATIVA LICEO DEL CARIBE           NaN
                 INSTITUCION EDUCATIVA TECNICO INDUSTRIAL  208.000000
                 INSTITUTO BOLIVARIANO                     206.000000
                 TECNICO DEPARTAMENTAL NATANIA             234.000000
PROMEDIO                                                   238.583333

periodo                                                          2021  \
nombre_municipio nombre_establecimiento
SAN ANDRÉS       C.E. LICEO DEL CARIBE                            NaN
                 COLEGIO CAJASAI                           246.000000
                 COLEGIO LUIS AMIGO                        307.000000
                 COLEGIO MODELO ADVENTISTA                 229.000000
                 FIRST BAPTIST SCHOOL                      252.000000
                 FLOWERS HILL BILINGUAL SCHOOL             227.000000
                 I.E. BROOKS HILL BILINGUAL SCHOOL         215.000000
                 I.E. DE LA SAGRADA FAMILIA                257.000000
                 INSTITUCION EDUCATIVA ANTONIA SANTOS             NaN
                 INSTITUCION EDUCATIVA ANTONIA SANTOS      197.000000
                 INSTITUCION EDUCATIVA GIMNASIO REAL       265.000000
                 INSTITUCION EDUCATIVA LICEO DEL CARIBE    292.000000
                 INSTITUCION EDUCATIVA TECNICO INDUSTRIAL  191.000000
                 INSTITUTO BOLIVARIANO                     205.000000
                 TECNICO DEPARTAMENTAL NATANIA             227.000000
PROMEDIO                                                   239.230769

periodo                                                    PROMEDIO
nombre_municipio nombre_establecimiento
SAN ANDRÉS       C.E. LICEO DEL CARIBE                        305.5
                 COLEGIO CAJASAI                              248.8
                 COLEGIO LUIS AMIGO                           311.2
                 COLEGIO MODELO ADVENTISTA                    236.2
                 FIRST BAPTIST SCHOOL                         251.0
                 FLOWERS HILL BILINGUAL SCHOOL                230.0
                 I.E. BROOKS HILL BILINGUAL SCHOOL            216.4
                 I.E. DE LA SAGRADA FAMILIA                   273.6
                 INSTITUCION EDUCATIVA ANTONIA SANTOS         207.5
                 INSTITUCION EDUCATIVA ANTONIA SANTOS         197.0
                 INSTITUCION EDUCATIVA GIMNASIO REAL          265.0
                 INSTITUCION EDUCATIVA LICEO DEL CARIBE       292.0
                 INSTITUCION EDUCATIVA TECNICO INDUSTRIAL     207.8
                 INSTITUTO BOLIVARIANO                        209.4
                 TECNICO DEPARTAMENTAL NATANIA                243.4
PROMEDIO                                                      245.0

### Exportar Tablas a Excel

In [47]:
with pd.ExcelWriter('Z:/Datos/DataIcfes/Resultados Saber11/REPORTE '+MUNICIPIO+'-'+DEPARTAMENTO+'.xlsx') as writer:
    agregados_dptoA.to_excel(writer,sheet_name=DEPARTAMENTO+' - PAÍS',float_format="%.0f",index=True,index_label='DEPARTAMENTO')
    agregados_muniA.to_excel(writer,sheet_name='MUNICIPIOS - '+DEPARTAMENTO,float_format="%.0f",index=True,index_label=['DEPARTAMENTO','MUNICIPIO'])
    agregados_coleA.to_excel(writer,sheet_name='EE '+MUNICIPIO,float_format="%.0f",index=True,index_label=['MUNICIPIO','NOMBRE ESTABLECIMIENTO EDUCATIVO'])

# Calendario B (No completo)

In [ ]:
s11_cumcb=s11_cum.drop(s11_cum[s11_cum.COLE_CALENDARIO!="B"].index)
s11_cumcb=s11_cumcb.drop(s11_cumcb[s11_cumcb.PERIODO%2==0].index)
s11_cumcb.replace({20221:2022,20211:2021,20201:2020,20191:2019,20181:2018,20171:2017,20161:2016},inplace=True)
s11_cumcb.rename(columns={"PERIODO":"AÑO","ESTU_DEPTO_RESIDE":"DEPARTAMENTO"},inplace=True)
s11_cumcb.to_csv('Z:/Datos/DataIcfes/Resultados Saber11/S11_ACUMULADO_B.csv',index=False,encoding='UTF-8')

#### Importar Base de Datos

In [4]:
s11_cumcb=pd.read_csv('Z:/Datos/DataIcfes/Resultados Saber11/S11_ACUMULADO_B.csv',sep=',',encoding='UTF-8',engine='python')

## Tabla Departamentos

In [6]:
agregados_dptoB=pd.crosstab(index=s11_cumcb.DEPARTAMENTO,columns=s11_cumcb.AÑO,dropna=True,values=s11_cumcb.PUNT_GLOBAL,aggfunc='mean',margins=True,margins_name='Media',)
pd.DataFrame(agregados_dptoB)

AÑO,2016,2017,2018,2019,2020,2021,2022,Media
DEPARTAMENTO,,,,,,,,
AMAZONAS,NaN,316.000000,NaN,NaN,NaN,NaN,NaN,316.000000
ANTIOQUIA,347.993377,331.984405,335.760915,335.153989,315.295652,325.892100,324.692821,329.978318
ATLANTICO,342.704986,330.366136,338.920065,336.191759,319.873371,329.635607,331.011382,333.121542
BOGOTA,363.402355,347.772727,348.642077,348.408040,335.681389,341.986983,338.484796,346.768620
BOLIVAR,359.055944,350.539062,353.480769,359.542105,343.420118,348.261628,346.827957,351.408425
BOYACA,NaN,NaN,NaN,NaN,NaN,250.000000,NaN,250.000000
CALDAS,341.190955,335.593583,332.438272,333.837079,326.186047,333.304094,337.710059,334.792469
CASANARE,NaN,NaN,NaN,NaN,NaN,NaN,320.000000,320.000000
CAUCA,305.616352,299.168874,302.166945,307.784380,301.684746,300.910714,306.032558,303.365039
CESAR,349.071429,354.708333,347.733333,342.956522,329.790698,339.759259,337.345455,342.921922
CHOCO,NaN,NaN,NaN,NaN,327.000000,NaN,199.000000,263.000000
CORDOBA,329.764706,323.280000,334.275862,345.500000,329.407407,341.956522,325.740741,332.867816
CUNDINAMARCA,353.300836,334.164706,340.070423,342.958209,329.741379,332.404711,334.040169,337.710497
EXTRANJERO,379.000000,NaN,NaN,NaN,NaN,NaN,NaN,379.000000
HUILA,NaN,NaN,NaN,NaN,NaN,290.333333,NaN,290.333333
LA GUAJIRA,317.866667,313.510204,313.773585,328.459459,307.000000,312.148936,301.756098,313.577982
MAGDALENA,333.933333,324.606742,337.722222,331.822222,331.650794,333.250000,322.746835,330.614130
META,NaN,NaN,NaN,NaN,NaN,311.500000,NaN,311.500000
NARIÑO,314.120438,312.055944,322.278169,309.997143,310.919540,302.742382,301.742188,309.841818
NORTE SANTANDER,NaN,NaN,NaN,NaN,NaN,200.000000,194.000000,197.000000
PUTUMAYO,NaN,NaN,NaN,275.000000,NaN,NaN,281.000000,278.000000
QUINDIO,361.105263,348.600000,353.240000,348.457143,352.578947,328.490196,335.000000,345.911672
RISARALDA,347.640288,340.543860,345.377953,337.392593,327.000000,326.320755,327.085890,335.322314
SAN ANDRES,NaN,NaN,NaN,NaN,NaN,190.000000,NaN,190.000000
SANTANDER,386.263566,376.365591,384.067961,378.601852,376.391304,368.675000,358.093220,375.363041
TOLIMA,NaN,NaN,NaN,188.000000,NaN,NaN,287.000000,237.500000
VALLE,302.605007,294.925336,300.053755,292.861596,290.260516,292.329506,295.001285,295.437579
Media,325.000000,314.669668,319.189198,314.137988,307.076450,311.495865,312.032062,314.876723

In [ ]:
agregados_dptoB=pd.crosstab(index=s11_cumcb.DEPARTAMENTO,columns=s11_cumcb.AÑO,dropna=True,values=s11_cumcb.PUNT_GLOBAL,aggfunc='mean',margins=True,margins_name='Media',)
pd.DataFrame(agregados_dptoB)

### Exportar Tablas

In [ ]:
agregados_dptoB.to_csv('Z:/Datos/DataIcfes/Resultados Saber11/agregados_dpto_B.csv',index=False,encoding='UTF-8')